@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  font-family: "Jura", sans-serif;
  height: 100%;
}
input {
  outline: none;
  border: none;
  background: transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
